main {
  align-content: justify-content;
  align-items: justify;
  margin: 20px, auto;
  
}

body {
  align-content: justify-content;
  margin-top: 20px;
  margin-bottom: 20px;
  height: fit-content;
  width: auto;
  background: #FFF url(./images/CXFGdbSGysF9Q5k2e01j_8iHxICUpIcZ2Z19uKBQn1I.webp) 0 0 no-repeat;
  content: blur, 13px;
}

.img {
  
}